<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Batalla WebSocket</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
  <style>
    body {
      background-color: #222;
      color: #fff;
      font-family: 'Trebuchet MS', sans-serif;
    }

    .contenedor-batalla {
      margin-top: 50px;
    }

    .personaje-box {
      border: 2px solid #fff;
      padding: 20px;
      border-radius: 15px;
    }

    .img-personaje {
      width: 50%;
      border-radius: 10px;
    }
  </style>
</head>
<body>
<div class="container contenedor-batalla text-center">
  <h1>Batalla por Turnos</h1>
  <div class="row mt-4">
    <div class="col-md-5 personaje-box" th:object="${personaje}">
      <h2 th:text="*{nombre}">Jugador</h2>
      <img th:src="*{imagen}" alt="Jugador" class="img-personaje">
      <p>HP:<span id="hpJugador">--</span></p>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center">
      <h1>VS</h1>
    </div>
    <div class="col-md-5 personaje-box" th:object="${rival}">
      <h2 th:text="*{nombre}">Rival</h2>
      <img th:src="*{imagen}" alt="Rival" class="img-personaje">
      <p>HP: <span id="hpRival">--</span></p>
    </div>
  </div>

  <div class="mt-4" th:object="${personaje}">
    <button id="btnAtacar"
            class="btn btn-danger btn-lg"
            onclick="atacar()"
            th:disabled="${!personaje.esTuTurno}">
      ¡Atacar!
    </button>
  </div>


</div>


<script th:src="@{/js/batalla.js}"></script>
<script th:src="@{/js/notificacion-batalla.js}"></script>

<script th:inline="javascript">
  conectarBatalla([[${salaId}]], [[${#strings.escapeJavaScript(personaje.nombre)}]]);
</script>


</body>
</html>
