<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="navbar :: nav"></header>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <style>
        body, html {
            margin: 0;
            padding: 0;
            font-family: 'Trebuchet MS', sans-serif;
            color: #fff;
        }

        h1 {
            font-size: 3em;
            margin-bottom: 10px;
            text-shadow: 2px 2px 5px #000;
        }

    </style>
</head>

<body class="bg-warning bg-opacity-50">


<main th:style="'background-image: url(' + @{/img/fondo-creacion-personaje.png} + '); background-size: cover; background-position: center bottom; height: 90vh'"
      class="container-fluid d-flex flex-column align-items-center">

    <h1 class="text-center text-black fs-1">NUEVO PERSONAJE</h1>
        <div class="w-100" style="max-width: 500px;">
            <form action="#" th:action="@{/guardar-personaje}" method="POST" th:object="${datosPersonaje}">
                <div class="mb-n3">
                    <input th:field="*{nombre}" type="text" id="nombre" class="form-control" placeholder="Nombre" required/>
                </div>
                <div id="carouselExampleFade" class="carousel slide">
                    <div class="carousel-inner">
                        <div>
                            <div class="carousel-item active">
                                 <img th:src="@{/img/luchador.png}" class="d-block w-50 mx-auto" alt="Guerrero" data-idrol="1">
                             </div>
                            <div class="carousel-item">
                                <img th:src="@{/img/luchadora.png}" class="d-block w-50 mx-auto" alt="Guerrera" data-idrol="1">
                            </div>
                            <div class="carousel-item">
                                <img th:src="@{/img/mago.png}" class="d-block w-50 mx-auto" alt="Mago" data-idrol="2">
                             </div>
                            <div class="carousel-item">
                                <img th:src="@{/img/bruja.png}" class="d-block w-50 mx-auto" alt="Maga" data-idrol="2">
                            </div>
                            <div class="carousel-item">
                                <img th:src="@{/img/bandido.png}" class="d-block w-50 mx-auto" alt="Bandido" data-idrol="3">
                            </div>
                            <div class="carousel-item">
                                <img th:src="@{/img/bandida.png}" class="d-block w-50 mx-auto" alt="Bandida" data-idrol="3">
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="genero" th:field="*{genero}" id="genero" required>
                    <!-- Campo oculto para almacenar el rol seleccionado -->
                    <input type="hidden" name="idRol" th:field="*{idRol}" id="idRol" required>
                    <!-- Campo oculto para almacenar la imagen seleccionada -->
                    <input type="hidden" name="imagen" th:field="*{imagen}" id="imagen" required>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="d-flex justify-content-center">
                    <button id="btn-registrarme" class="btn btn-lg bg-warning bg-opacity-75 w-50" type="submit">Crear personaje</button>
                </div>

            </form>
        </div>

</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const hiddenRoleInput = document.getElementById('idRol');
        const hiddenImageInput = document.getElementById('imagen');
        const hiddenGeneroInput = document.getElementById('genero');
        const carouselElement = document.getElementById('carouselExampleFade');

        // Función para actualizar los datos del personaje
        const updateCharacterData = () => {
            const activeItem = carouselElement.querySelector('.carousel-item.active img');
            const alt = activeItem.getAttribute('alt');
            hiddenRoleInput.value = activeItem.getAttribute('data-idrol');
            hiddenImageInput.value = activeItem.getAttribute('src');  // Guarda la ruta de la imagen

            hiddenGeneroInput.value = alt.toLowerCase().endsWith("a") ? "Femenino" : "Masculino";
        };

        // Actualiza al cargar la página
        updateCharacterData();

        // Actualiza cuando se cambia el slide del carrusel
        carouselElement.addEventListener('slid.bs.carousel', updateCharacterData);
    });
</script>
</body>
</html>