<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{'/css/inventario.css?v1'}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header th:replace="navbar :: nav"></header>
    <title>Inventario</title>
</head>
<body th:style="'background-image: url(' + @{/img/equipamiento.png} + ')'">
<header></header>
<main>

    <div class="contenedor-principal" th:if="${mensajeError == null}"  th:style="'background-image: url(' + @{/img/contenedor-equipamiento.png} + ')'">

        <div class="contenedor-armas">
            <a th:each="equipo : ${inventario}"
               th:href="@{'/inventario/' + ${equipo.getId()}}"
               class="imagen-arma">
                <img th:src="@{'/' + ${equipo.getImagen()}}" th:alt="${equipo.nombre}" />
            </a>
        </div>

        <div class="contenedor-informacion" th:if="${equipoSeleccionado != null}">
            <div class="nombre-equipo">
                <h2 th:text="${equipoSeleccionado.nombre.toUpperCase()}"></h2>
            </div>
            <div class="estadistica">
                <h2>Fuerza</h2>
                <div style="display:flex; column-gap: 0%">
                    <h2 style="color: #840000;" th:text="'+' + (${equipoSeleccionado.getStats().getFuerza()})"></h2>
                </div>
            </div>
            <div class="estadistica">
                <h2>Inteligencia</h2>
                <div style="display:flex; column-gap: 0%">
                    <h2 style="color: #840000;" th:text="'+' + (${equipoSeleccionado.getStats().getInteligencia()})"></h2>
                </div>
            </div>
            <div class="estadistica">
                <h2>Resistencia</h2>
                <div style="display:flex; column-gap: 0%">
                    <h2 style="color: #840000;" th:text="'+' + (${equipoSeleccionado.getStats().getArmadura()})"></h2>
                </div>
            </div>
            <div class="estadistica">
                <h2>Agilidad</h2>
                <div style="display:flex; column-gap: 0%">
                    <h2 style="color: #840000;" th:text="'+' + (${equipoSeleccionado.getStats().getAgilidad()})"></h2>
                </div>
            </div>
            <div>
                <a class="boton" th:classappend="${equipoSeleccionado.getEquipado()} ? 'equipado' : ''"
                   th:href="@{'/inventario/equipar/' + ${equipoSeleccionado.getId()}}"
                   th:text="${equipoSeleccionado.getEquipado()} ? 'Equipado' : 'Equipar'"></a>
            </div>
        </div>

    </div>

    <div th:if="${mensajeError}" class="mensaje-error">
        <p th:text="${mensajeError}"></p>
    </div>

</main>
</body>
</html>
