<!-- navbar.html -->
<nav th:fragment="nav" style="background: #262626; padding: 10px;">
    <ul style="list-style: none; display: flex; gap: 20px;">
        <li><a th:href="@{/}" style="color: white; text-decoration: none;">Inicio</a></li>
        <li><a th:href="@{/taberna}" style="color: white; text-decoration: none;">Taberna</a></li>
        <li><a th:href="@{/mercado}" style="color: white; text-decoration: none;">Mercado</a></li>
        <li><a th:href="@{/herreria}" style="color: white; text-decoration: none;">Herreria</a></li>
        <li><a th:href="@{/creacion-personaje}" style="color: white; text-decoration: none;">Creacion de Personaje</a></li>
        <li><a th:href="@{/batalla}" style="color: white; text-decoration: none;">Batalla</a></li>

    </ul>
</nav>

