<!-- navbar.html -->
<nav th:fragment="nav" style="background: #262626; padding: 10px;">
    <ul style="list-style: none; display: flex; gap: 20px;">
        <li><a th:href="@{/}" style="color: white; text-decoration: none;">Inicio</a></li>
        <li><a th:href="@{/taberna}" style="color: white; text-decoration: none;">Taberna</a></li>
        <li><a th:href="@{/mercado}" style="color: white; text-decoration: none;">Mercado</a></li>
        <li><a th:href="@{/inventario}" style="color: white; text-decoration: none;">Inventario</a></li>
        <li><a th:href="@{/herreria}" style="color: white; text-decoration: none;">Herreria</a></li>
        <li><a th:href="@{/creacion-personaje}" style="color: white; text-decoration: none;">Creacion de Personaje</a></li>
        <li>
            <a href="#"
               th:attr="data-salaid=${salaPendienteId}, data-miid=${#httpSession.getAttribute('personaje') != null ? #httpSession.getAttribute('personaje').id : 0}
"
               th:if="${tieneDesafio}"
               id="btn-batalla-pendiente"
               style="color: white; text-decoration: none;">
                Batalla <span style="color: red; font-weight: bold;">¡</span>
            </a>
            <a th:href="@{/batalla}"
               th:unless="${tieneDesafio}"
               style="color: white; text-decoration: none;">
                Batalla
            </a>
        </li>



        <li><a th:href="@{/home}" style="color: white; text-decoration: none;">Home</a></li>
        <li><a th:href="@{/amigos}" style="color: white; text-decoration: none;">Amigos</a></li>
    </ul>
</nav>



