<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>
<div th:object="${datosPersonaje}" id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <h1 th:text="*{nombre}">Nombre del personaje</h1>
    <h2 th:text="*{rol}">Rol del personaje</h2>
    <p>Fuerza:</p>
    <h3 th:text="*{fuerza}">Fuerza</h3>
    <p>Inteligencia:</p>
    <h3 th:text="*{inteligencia}">Fuerza</h3>
    <p>Armadura:</p>
    <h3 th:text="*{armadura}">Fuerza</h3>
    <p>Agilidad:</p>
    <h3 th:text="*{agilidad}">Fuerza</h3>

</div>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>