<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Taberna</title>
</head>

<body>

<main th:style="'background-image: url(' + @{/img/taberna.png} + '); background-size: cover; background-position: center bottom; height: 100vh'"  role="main" class="container mt-5">

    <div class="text-center" style="color: black ; text-align: center ; background: burlywood; max-width: 700px; opacity: 0.8 ; padding: 20px ; border-radius: 10px ; border: solid 2px black ; width: 80% ; margin: auto ; margin-top: 50px">
        <h1>Bienvenido a la taberna</h1>
        <p>En esta taberna puedes encontrar personajes interesantes y compartir un trago con ellos.</p>
        <p>Te has encontrado con este personaje en la taberna</p>
        <div class="text-center mt-4">
            <img th:src="@{/img/{imagen}(imagen=${imagenParcial})}" alt="Personaje" style="max-height: 300px;">
        </div>
        <div th:if="${mensaje}">
            <p th:text="${mensaje}" class="alert alert-info"></p>
        </div>

        <p>¿Quieres invitarle un trago?</p>

        <!-- Formulario para invitar un trago -->
        <div th:if="${personajeDisponible}">
            <form action="/spring/invitarTrago" method="POST">
                <label for="personaje">Invitar un trago a:</label>
                <select name="personaje" id="personaje" class="form-select">
                    <option th:value="${personajeDisponible}" th:text="${personajeDisponible}"></option>
                </select>

                <button type="submit" class="btn btn-primary mt-2">Invitar Trago</button>
            </form>
        </div>

    </div>
</main>

</body>
</html>